@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    letter-spacing: 0.1px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    padding: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #ede9fe94;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #818df894;
    border-radius: 10px;
}

.list-container {
    box-shadow: inset 0 0 12px 4px rgba(0, 0, 0, 0.027), 0 4px 6px 4px rgba(0, 0, 0, 0.021);
}
