@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    letter-spacing: 0.1px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
